:root {
    --pink: #D1B1CB;
    --light: #DDCAD9;
    --dark: #7C616C;
    --main-text: #000;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px; 
    font-family: 'Cascadia Code';
    color: var(--main-text);
    background-color: #E5E9EC;
}

.header {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    background-color: var(--pink);
    color: var(--main-text);
    border-bottom: 3px solid var(--dark);
}


.header h1 {
    display: inline-block;
    font-size: 45px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
    color: var(--main-text)
}

/*This gives the list in the navigation bar their style*/
.header nav ul {
    list-style-type: none;
}

/*This puts the navi links inline*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 3px;
}

a {
    color: var(--main-text);
    text-decoration: none;
}

.header nav ul li a:hover {
    display: inline-block;
    background-color: var(--dark);
    color: var(--pink);
}

.sidebar1 {
    height: 375px;
    width: 300px;
    position: fixed;
    top: 105px;
    left: 100px;
    padding-top: 40px;
    background-color: var(--pink);
    border: 5px solid var(--dark);
    text-align: center;
}

.sidebar2 {
    height: 350px;
    width: 300px;
    position: fixed;
    top: 490px;
    left: 100px;
    padding-top: 40px;
    background-color: var(--pink);
    border: 5px solid var(--dark);
    text-align: center;
}

.sidebar3 {
    height: 375px;
    width: 300px;
    position: fixed;
    top: 105px;
    left: 1500px;
    padding-top: 40px;
    background-color: var(--pink);
    border: 5px solid var(--dark);
    text-align: center;
}

.sidebar4 {
    height: 350px;
    width: 300px;
    position: fixed;
    top: 490px;
    left: 1500px;
    padding-top: 40px;
    background-color: var(--pink);
    border: 5px solid var(--dark);
    text-align: center;
}

#sidebar-img {
    align-items: center;
    max-width: 250px;
    max-height: 250px;
}

#sidebar-title1 {
    color: var(--dark);
    display: block;
    text-align: center;
    border-top: 5px solid var(--dark)
}

#sidebar-title {
    color: var(--dark);
    display: block;
    text-align: center;
}

.container {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    margin-left: 500px;
}

.container section {
    display: block;
    border: 5px solid var(--dark);
    width: 900px;
    height: 200px;
    margin: 30px;
    text-align: center;
    background-color: var(--light);
}

#title {
    position: relative;
    top: -30px;
    width: 90%;
    margin-left: 38px;
    border-style: solid;
    border-color: var(--dark);
    padding: 5px;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bolder;
    color: var(--pink);
    background-color: var(--dark);
    text-align: center;
}

.section #desc {
    display: none;
}

.section, .section #title {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.section:hover, .section #title:hover {
box-shadow: inset 0px 0px 8px
rgba(232, 102, 236, 1), 0 0 15px
rgba(232, 102, 236, 1);
}

.box ul:hover {
    background: rgb(138, 196, 138);
    transition: all 1s ease-in-out;
  }

.section:hover #desc {
    display: block;
    text-align: center;
    transition: all 2s ease-in-out;
}

.box #wips {
    border: 5px solid var(--dark);
    color: var(--dark);
}

footer {
    display: block;
    clear: both;
    width: 100%;
    bottom: 0;
    padding: 30px;
    text-align: center;
    color: var(--main-text);
    background-color: var(--pink);
    border-top: 3px solid var(--dark);
    position: relative;
}

footer h4 {
    font-size: 20px; 
}

/*


.boxes {
    margin: 30px;
}

.boxes section {
    border: 3px solid var(--dark);
    width: 300px;
    height: 300px;
    margin-left: 30px;
    content: center;
}

.boxes section ul li {
    list-style: none;
}

.container section {
    width: 500px;
    min-height: 100px;
    max-height: 600px;
    margin: 30px;
    border: 3px dashed var(--light);
    background-color: transparent;
}

.container {
    display: block;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}

.container section {
    width: 700px;
    height: 150px;
    margin: 30px;
    border: 4px solid var(--dark);
    background-color: var(--light);
}

#desc {
    padding-top: 50px;
    padding-left: 5px;
    color: var(--main-text);
    text-align: left;
}

footer {
    display: block;
    clear: both;
    width: 100%;
    bottom: 0;
    padding: 30px;
    text-align: center;
    color: var(--main-text);
    background-color: var(--pink);
    position: relative;
    margin-bottom: 0px;
}

footer h4 {
    font-size: 20px; 
}