
:root {
    --background: #3A8999;
    --light: #C3EDE5;
    --borders: #40BAC9;
    --dark: #46235c;
    --main-text: #000;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px; 
    font-family: 'Cascadia Code';
    color: var(--main-text);
    background-color: #304153;
}

.header {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    background-color: var(--background);
    color: var(--main-text);
    border-bottom: 3px solid var(--borders);
}


.header h1 {
    display: inline-block;
    font-size: 40px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    color: var(--main-text)
}

/*This gives the list in the navigation bar their style*/
.header nav ul {
    list-style-type: none;
}

/*This puts the navi links inline*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 3px;
}

a {
    color: var(--main-tex);
    text-decoration: none;
}

.header nav ul li a:hover {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
}

.sidebar {
    height: 100%; 
    width: 400px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: var(--dark); 
    border-right: 4px solid var(--borders);
    overflow-x: hidden; 
    padding-top: 110px;
    max-height: auto;
    text-align: center;
  }
  
.sidebar h2 {
    font-size: 40px;
    color: var(--background);
}

.sidebar p {
    font-size: 16px;
    color: var(--light);
    max-height: 360px;
    margin: 0px 20px 0px 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    margin-left: 390px;
}

.container section {
    display: block;
    border: 5px solid var(--borders);
    width: 90%;
    height: auto;
    min-height: 300px;
    margin: 40px;
    text-align: center;
    background-color: var(--light);
}

#title {
    position: relative;
    top: -30px;
    width: 90%;
    margin-left: 38px;
    border-style: solid;
    border-color: var(--borders);
    padding: 5px;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bolder;
    color: var(--light);
    background-color: var(--dark);
    text-align: center;
}

.section #desc {
    font-size: 20px;
    display: none;
}

.section #desc a {
    color: #a149d8;
}

.section #desc a:hover {
    color: #15a04a;
}
.section .section #title {
border-radius: 8px;
transition: all 0.5s ease-in-out;
}

.section:hover, .section:hover #title {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
} 
    
.box ul:hover {
    background: rgb(138, 196, 138);
    transition: all 1s ease-in-out;
}
    
.section:hover #desc {
    display: block;
    text-align: center;
    transition: all 2s ease-in-out;
    color: var(--dark);
    background-color: var(--light);
}

#html {
    background-image: url(./images/html.cropped.jpg);
}

#css {
    background-image: url(./images/css.cropped.jpg);
}

#javascript {
    background-image: url(./images/javascript.cropped.jpg);
}

#node {
    background-image: url(./images/node.cropped.jpg);
}

#mern {
    background-image: url(./images/mern.cropped.jpg);
}

.section, .section #title {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

#contact-title {
    position: relative;
    top: -30px;
    width: 100.9%;
    margin-left: -5px;
    border-style: solid;
    border-color: var(--borders);
    padding: 5px;
    font-size: 150%;
    font-weight: bolder;
    color: var(--light);
    background-color: var(--dark);
    text-align: center;
}

#contact-img {
    display: inline-block;
    border: 5px solid var(--borders);
    max-width: 250px;
    max-height: 250px;
    position: relative;
    bottom: 22px;
    left: auto;
}

#contact {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
    position: relative;
    left: auto;
}

#hidden-about {
    display: none;
    border: 5px solid var(--borders);
    width: 90%;
    height: auto;
    margin: 40px;
    text-align: center;
    background-color: var(--light);
}


#hidden-title {
    position: relative;
    top: -30px;
    width: 102%;
    margin-left: -5px;
    border-style: solid;
    border-color: var(--borders);
    padding: 5px;
    font-size: 150%;
    font-weight: bolder;
    color: var(--light);
    background-color: var(--dark);
    text-align: center;
}

#hidden-img {
    display: inline-block;
    border: 5px solid var(--borders);
    max-width: 250px;
    max-height: 250px;
    position: relative;
    bottom: 22px;
    left: auto;
}

#hidden-bio {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: auto;
    padding: 10px;
}

footer {
    z-index: 1000;
    display: block;
    clear: both;
    width: 100%;
    bottom: 0;
    padding: 10px;
    text-align: center;
    color: var(--main-text);
    background-color: var(--background);
    border-top: 3px solid var(--borders);
    position: relative;
}

footer h4 {
    font-size: 20px; 
}

@media screen and (max-width: 1280px) {
    .header h1 {
        font-size: 35px;
    }
    .header li {
        font-size: 20px;
    }
    .container {
        margin-left: 450px;
    }

    .sidebar {
        width: 450px;
    }

    .sidebar h2 {
        font-size: 30px;
    }
    .sidebar p {
        font-size: 14px;
        max-height: 200px;
        max-width: 400px;
        margin-left: 16px;
        border: 3px dashed var(--background);
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1079px) { 
    .container section:nth-child(6) {
        height: auto;
    }
}

/*small screen laptops*/
@media screen and (max-width: 980px) {
    .container {
        margin-left: 300px;
    }

    #sidebar-img {
        max-width: 200px;
        max-height: 200px;
    }

    .sidebar {
        width: 300px;
    }

    .sidebar h2 {
        font-size: 30px;
    }

    .sidebar p {
        font-size: 14px;
        max-height: 160px;
        max-width: 270px;
        margin-left: 12px;
        border: 3px dashed var(--background);
    }
}

/*Ipads and tablets*/
@media screen and (max-width: 753px) {
    .header h1 {
        text-align: center;
        display: block;
    }
    .container {
        margin-top: 200px;
        margin-left: 0px;
    }

    .container section {
        margin-left: 15px;
    }
    .sidebar {
        display: none;
    }

    #hidden-about {
        display: block;
        margin-left: 15px;
    }
}
@media screen and (max-width: 655px) {
    #contact {
    display: none;
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: 130px;
    left: auto;
    }   

    .section:hover #contact {
    display: block;
    text-align: center;
    transition: all 2s ease-in-out;
    color: var(--dark);
    background-color: var(--light);
    border: 3px solid var(--borders);
    }

    #html {
        background-image: url(./images/html.square.jpg);
    }
    
    #css {
        background-image: url(./images/css.square.jpg);
    }
    
    #javascript {
        background-image: url(./images/javascript.square.jpg);
    }
    
    #node {
        background-image: url(./images/node.square.jpg);
    }
    
    #mern {
        background-image: url(./images/mern.square.jpg);
    }
}

/*Mobile devices*/
@media screen and (max-width: 480px) {
    .container section {
        margin-left: 15px;
        margin-right: 0px;
    }

    #hidden-about {
        margin-left: 15px;
    }
} 