
:root {
    --background: #3A8999;
    --light: #C3EDE5;
    --borders: #40BAC9;
    --dark: #46235c;
    --main-text: #000;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px; 
    font-family: 'Cascadia Code';
    color: var(--main-text);
    background-color: #304153;
}

.header {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    background-color: var(--background);
    color: var(--main-text);
    border-bottom: 3px solid var(--borders);
}


.header h1 {
    display: inline-block;
    font-size: 45px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
    color: var(--main-text)
}

/*This gives the list in the navigation bar their style*/
.header nav ul {
    list-style-type: none;
}

/*This puts the navi links inline*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 3px;
}

a {
    color: var(--main-tex);
    text-decoration: none;
}

.header nav ul li a:hover {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 500px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--dark); 
    border-right: 4px solid var(--borders);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 125px;
    text-align: center;
    vertical-align: middle;
  }
  
.sidebar h2 {
    font-size: 40px;
    color: var(--background);
}

.sidebar p {
    font-size: 20px;
    color: var(--light);
}

.container {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    margin-left: 550px;
}

.container section {
    display: block;
    border: 5px solid var(--borders);
    width: 90%;
    height: 300px;
    margin: 40px;
    text-align: center;
    background-color: var(--light);
}

#title {
    position: relative;
    top: -30px;
    width: 90%;
    margin-left: 38px;
    border-style: solid;
    border-color: var(--borders);
    padding: 5px;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bolder;
    color: var(--light);
    background-color: var(--dark);
    text-align: center;
}

.section #desc {
    font-size: 20px;
    display: none;
}

#html {
    background-image: url(./images/html.cropped.jpg);
}

#css {
    background-image: url(./images/css.cropped.jpg);
}

#javascript {
    background-image: url(./images/javascript.cropped.jpg);
}

#node {
    background-image: url(./images/node.cropped.jpg);
}

#mern {
    background-image: url(./images/mern.cropped.jpg);
}

.section, .section #title {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.section:hover, .section #title:hover {
box-shadow: inset 0px 0px 8px
rgba(232, 102, 236, 1), 0 0 15px
rgba(232, 102, 236, 1);
}

.box ul:hover {
    background: rgb(138, 196, 138);
    transition: all 1s ease-in-out;
  }

.section:hover #desc {
    display: block;
    text-align: center;
    transition: all 2s ease-in-out;
    color: var(--dark);
    background-color: var(--light);
}

#contact-title {
    position: relative;
    top: -30px;
    width: 100.9%;
    margin-left: -5px;
    border-style: solid;
    border-color: var(--borders);
    padding: 5px;
    font-size: 150%;
    font-weight: bolder;
    color: var(--light);
    background-color: var(--dark);
    text-align: center;
}

#contact-img {
    display: inline-block;
    border: 5px solid var(--borders);
    max-width: 250px;
    max-height: 250px;
    position: relative;
    bottom: 22px;
    left: -250px;
}

#contact {
    display: inline-block;
    font-size: 20px;
    text-align: left;
    position: relative;
    bottom: 130px;
    left: -250px;
}

.contact section {
    display: inline-block;
    border: 5px solid var(--borders);
    width: 900px;
    height: 300px;
    margin: 30px;
    text-align: center;
    background-color: var(--light);
}

footer {
    z-index: 1000;
    display: block;
    clear: both;
    width: 100%;
    bottom: 0;
    padding: 30px;
    text-align: center;
    color: var(--main-text);
    background-color: var(--background);
    border-top: 3px solid var(--borders);
    position: relative;
}

footer h4 {
    font-size: 20px; 
}

/*large screen desktops*/
@media screen and (max-width: 1200px) {

}

/*small screen laptops*/
@media screen and (max-width: 992px) {

}

/*Ipads and tablets*/
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
      }
}

/*Mobile devices*/
@media screen and (max-width: 480px) {

} 